//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Color Scheme
// Uncomment the variables below and change the hex values.

// http://colormind.io/bootstrap/

$primary:       #EA7400;
$primary-2:     #7E7F82;
$primary-3:     #252631;

$theme-color-scheme: (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3
);

$theme-colors: (
    "primary":    $primary,
    "primary-2":  $primary-2,
    "primary-3":  $primary-3
);

.card svg.icon {
  transform: scale(1.7)
}
