---
---
@import url("https://use.typekit.net/yrq5ibk.css");
@import url("https://unpkg.com/aos@2.3.4/dist/aos.css");

@import "user-variables";
@import "bootstrap/scss/functions";
@import "custom/functions";
@import "bootstrap/scss/variables";
@import "custom/variables-bootstrap";
@import "custom/variables-theme";

@import "bootstrap/scss/bootstrap";
@import "custom/components";

html {
  scroll-behavior: smooth;
}

.navbar-brand,
.display-1 {
  font-family: abolition, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.navbar-brand {
  font-size: 30px;
  padding: 0
}

/* Common Loader CSS */

@keyframes hideLoader {
  0%{ width: 100%; height: 100%; }
  100%{ width: 0; height: 0; }
}

body > div.loader{
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  body:not(.loaded) > div.loader{
      opacity: 1;
  }
  body:not(.loaded){
      overflow: hidden;
  }
body.loaded > div.loader{
  animation: hideLoader .5s linear .5s forwards;
}


/* Typing Animation */
.loading-animation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: typing 1s linear infinite alternate;
  position: relative;
  left: -12px;
  }

  @keyframes typing {
  0% {
    background-color: rgba(100,100,100, 1);
    box-shadow: 12px 0px 0px 0px rgba(100,100,100, 0.2),
      24px 0px 0px 0px rgba(100,100,100, 0.2);
  }

  25% {
    background-color: rgba(100,100,100, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(100,100,100, 2),
      24px 0px 0px 0px rgba(100,100,100, 0.2);
  }

  75% {
    background-color: rgba(100,100,100, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(100,100,100, 0.2),
      24px 0px 0px 0px rgba(100,100,100, 1);
  }
  }


section.bg-primary {
  background-image: url('/assets/images/bg.jpg');
  background-color: $primary;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

iframe[src*=attendify] {
  display: block;
  min-width: 320px;
  width: 100%;
}

html[data-useragent*='Edge/'],
html[data-useragent*='MSIE 10.0'],
html[data-useragent*='rv:11.0'] {
  section.bg-primary {
    $color: rgba($primary, 70%);
    background-image: linear-gradient($color, $color), url('/assets/images/bg.jpg');
  }
}

