---
---
@import "https://use.typekit.net/yrq5ibk.css";

@import "user-variables";
@import "bootstrap/scss/functions";
@import "custom/functions";
@import "bootstrap/scss/variables";
@import "custom/variables-bootstrap";
@import "custom/variables-theme";

@import "bootstrap/scss/bootstrap";
@import "custom/components";

.navbar-brand,
.display-1 {
  font-family: abolition, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.navbar-brand {
  font-size: 30px;
  padding: 0
}

/* Common Loader CSS */

@keyframes hideLoader{
  0%{ width: 100%; height: 100%; }
  100%{ width: 0; height: 0; }
}
body > div.loader{
      position: fixed;
      background: white;
      width: 100%;
      height: 100%;
      z-index: 1071;
      opacity: 0;
      transition: opacity .5s ease;
      overflow: hidden;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  body:not(.loaded) > div.loader{
      opacity: 1;
  }
  body:not(.loaded){
      overflow: hidden;
  }
body.loaded > div.loader{
  animation: hideLoader .5s linear .5s forwards;
}

section.bg-primary {
  background-image: url('/assets/images/bg.jpg');
  background-color: #ff7d00;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='rv:11.0'] {
  section.bg-primary {
    background: none;
    $color: rgba(#ff7d00, 50%);
    background: linear-gradient($color, $color), url('/assets/images/bg.jpg');
  }
}
