---
layout: base
---

<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand fade-page" href="/">{{ site.title }}</a>
  </div>
</nav>

<section class="bg-primary text-light p-0 o-hidden">
  <div class="container layer-2">
    <div class="row py-6 min-vh-30 align-items-center" data-aos="fade-up">
      <div class="col-lg-9 col-xl-8">
        <h1 class="display-1">{{ page.title }}</h1>
        {% if page.subtitle %}<p class="lead mb-4">{{ page.subtitle }}</p>{% endif %}
      </div>
    </div>
  </div>

  <div class="divider flip-x">
    <img class="bg-white" src="/assets/images/dividers/divider-3.svg" alt="divider graphic" data-inject-svg />
  </div>
</section>

<section>
  <div class="container">
    <div class="lead">
      {{ content }}
    </div>
  </div>
</section>

{% include footer.html %}
